name: flutter_mono
description: An unofficial plugin for using Mono Connect SDK https://mono.co
version: 2.0.0
homepage: https://github.com/zfinix/flutter_mono

environment:
  sdk: '>=2.12.0 <3.0.0'
  

dependencies:
  flutter:
    sdk: flutter
  webview_flutter: ^2.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.